body{
padding: 0px;

background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900;
font-size: xx-large;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  