body {
    font-family: Arial, sans-serif;
    background-color: #7bf4c288;
    color: grey;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: black;
    font-weight: 900;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
    border: 1px solid #b5b2b2;
   
  }
  
  .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }