body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #555;
    margin-top: 50px;
  }
  
  .chapter {
    display: inline-flexbox;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .chapter h2 {
    color: #555;
  }
  
  .chapter p {
    color: #777;
  }
  
  .chapter a {
    color: #555;
    text-decoration: none;
  }
  
  .chapter a:hover {
    text-decoration: underline;
    background-color: darkgray;
  }