.katze {
  height: 200px;
  width: 200px;
}

.headline {
  color: darkred;
  margin-left: 16px;
}

body {
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: grey;
}

@media screen and (max-width: 500px) {
  body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(111, 111, 244, 0.253);
  }
}


.katze-container {
  float: right;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
}

a {
  color: darkred;
  text-decoration: none;
  margin-left: 16px;
  font-weight: 600;
  font-size: 22px;
  margin-right: 16px;
}

a:hover {
  text-decoration: underline;
}

table,
tr,
td,
th {
  border: 2px solid black;

}

#tabelle {
  background-color: white;
  margin-right: 20px;
}

#sektion2 {
  display: flex;
  justify-content: left;
  padding-top: 16px;
  padding-left: 16px;
}

.message-container {

  height: 6cm;
  display: flex;
  justify-content: center;
  background-color: darkred;
  margin-left: 6cm;
  margin-right: 6cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
  border-radius: 10px;

}

.navbar-message-container {
  font-size: large;
  font-weight: 600;
  height: 1.2cm;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;

}

.navbar-message-container .navbar-message-right-container {
  padding-right: 16px;
}

.video {
  display: flex;
  justify-content: left;
  padding: 16px;
}

input[type=text] {
  width: 16em;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}

form {
  margin: 16px;
  font-weight: 900;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.translate {
  background-color: red;
  width: 10cm;
  display: flex;
  transform: rotate(20deg);
  margin: 1cm
}

.animation {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes example {
  from {
    top: 0px;
    background-color: yellow;
  }

  to {
    top: 200px;
    background-color: blue;
  }
}


.test-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px 200px;
  grid-gap: 3px;
}

.test-grid > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.test-grid > div:nth-child(3n) {
  background-color: #88d8b0;
}

.test-grid > div:nth-child(2n) {
      background-color: #ff6f69;
}

.test-grid > div:nth-child(4n) {
      background-color: #ffcc5c;
}
.test-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}